matplotlib
jupyter
nbconvert
pandas
numpy
scikit-learn>=1.4,<1.7 # for CalibratedClassifierCV
lightgbm
xgboost
optuna
mlflow
evidently
shap
fastapi
uvicorn
streamlit
pydantic>=2
pyyaml
pytest
pandas-stubs
types-requests
types-PyYAML
joblib
python-dotenv